@charset "utf-8";
/* CSS Document */

.zoomWrapper
{
	width: 100%;
	position: relative;
}
.zoom-img
{
	width: 100%;
}
.elevatezoom-gallery
{
	width: 23%;
  	margin: 0 1%;
	display: block;
	float: left;
}

.imgthum
{
	width: 100%;
}

@media screen and (max-width:1199px)
{
	.zoomWrapper
	{
		margin: 0 auto;
	}
}
